.header {
background-image: url(../Covers/Filmgialloitaliano.jpg);
background-size:contain;
width:100%;
height:150px;	
}

.row {
display:flex;
justify-content: space-around;
margin-top:70px;
}

img {
height:150px;
width:250px;
opacity:0.9;
}

h2 {
text-align: center;
line-height:20px;
font-size:14px;
}

p {
font-family:cambria;
font-size:13px;
font-style: italic;
text-align:center;
line-height: 0;
}

img:hover {
opacity:unset;
transition-duration:1s;
transform: scale(1.3);
}

body {
background-color: pink;
}
